@import "src/styles/variable";

.customs_select_container_genre {
 font-weight: 500;
 border-radius: 10px;
}

.customs_select_list_prefix_genre {
 &__placeholder {
  font-weight: 500;
  color: #bdbdbd;
 }

 &__indicator {
  svg {
   transition: all 0.2s ease;
   fill: #363934;
  }
 }

 .customs_select_container_genre &__control {
  border-radius: 10px;
  background: #f4f6f2;
  //padding: 12px 9px;
  padding: 0 8px;
  min-height: 50px;
  border: none !important;
  border-radius: 10px;
  column-gap: 8px;

  &___indicators {
   display: none;
  }
 }

 .customs_select_container_genre &__control--is-focused {
  background: #ffffff;
  border: 1.5px solid green;
 }
 .customs_select_container_genre.styleError
  &__control--is-focused {
  border: none;
 }

 &__indicator-separator {
  display: none;
 }

 &__control--menu-is-open &__dropdown-indicator svg {
  transform: rotate(180deg);
 }

 .customs_select_container_genre &__menu {
  margin-top: 1px;
  border: 1px solid #f4f6f2;
  box-shadow: 0px 4px 40px rgba(38, 41, 43, 0.07);
  border-radius: 10px;
 }

 .customs_select_container_genre &__menu-list {
  padding: 12px 0;
 }

 &__menu-list &__group &__group-heading .isOpen + div {
  background-color: red;
 }

 &__menu-list &__option {
  font-size: 14px;
  font-weight: 700;
  height: 37px;
  padding-left: 16px;

  @media (max-width: $mediaMaxWidth340px) {
   font-size: 16px !important;
  }
 }
 &__value-container {
  padding: 11px !important;

  @media (max-width: $mediaMaxWidth340px) {
   padding: 12px 0 !important;
  }
 }

 &__multi-value.moreTools {
  background: #000 !important;
  padding: 3px 10px !important;

  .customs_select_list_prefix_genre__multi-value__remove {
   display: none;
  }
 }

 &__multi-value {
  border-radius: 30px;
  padding: 5px 6px !important;

  @media (max-width: $mediaMaxWidth340px) {
   padding: 3px 6px !important;
   border-radius: 15px !important;
  }
 }

 &__multi-value__label {
  font-size: 14px !important;
  color: white;

  @media (max-width: $mediaMaxWidth340px) {
   font-size: 16px !important;
   padding-left: 2px !important;
  }
 }
 &__multi-value__remove {
  color: white;

  @media (max-width: $mediaMaxWidth340px) {
   padding: 0 !important;
  }

  svg {
   width: 18px;
   height: 18px;
  }
 }
}

.customCheckBoxStyleGenre {
 display: flex;
 align-items: center;

 label {
  font-weight: 700;
  font-style: 14px;
  color: #242424;
  display: flex;
  align-items: center;
  cursor: pointer;
 }

 input {
  display: none;

  &:checked + span {
   border: 2px solid #ff5a13;

   &::before {
    transform: scale(1);
   }
  }
 }

 .check {
  display: inline-block;
  margin-bottom: -2px;
  width: 15px;
  height: 15px;
  border: 2px solid #727471;
  position: relative;
  border-radius: 5px;
  margin: 0 8px 0 0;

  &::before {
   content: "\2713";
   font-size: 10px;
   font-weight: 600;
   color: #ff5a13;
   position: absolute;
   top: -2px;
   left: 2px;
   right: 1px;
   transform: scale(0);
   transition: 0.2s;
  }
 }
}

.wrapperSelect {
 position: relative;

 .error {
  position: absolute;
  top: 52px;
  left: 0;
  color: #e95050;
  font-size: 12px;
 }
}
