.custom_style_container_reg {
  width: 100%;
  color: #242424;
  font-size: 14px;
  border: 1.5px solid #5b9232;
  border-radius: 10px;
  // height: 50px;
}

.custom_style_list_reg {
  .custom_style_container_reg &__control {
    border-radius: 10px;
    border-style: none;
    border-radius: 8px;
    height: 50px;
  }
  .custom_style_container_reg &__menu {
    margin-top: 1px;
    border: 1px solid #f4f6f2;

    box-shadow: 0px 4px 40px rgba(38, 41, 43, 0.07);
    border-radius: 10px;
  }

  .custom_style_container_reg &__menu-list {
    padding: 12px 0;
    max-height: 500px;
    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__value-container &__placeholder {
    color: #bdbdbd;
  }

  &__menu-list &__option {
    font-weight: 700;
    height: 37px;
    padding-left: 16px;
  }

  &__single-value {
    color: #242424;
  }

  &__indicator-separator {
    display: none;
  }

  &__indicator {
    svg {
      transition: all 0.2s ease;
      fill: #242424;
    }
  }

  &__control--menu-is-open &__dropdown-indicator svg {
    transform: rotate(180deg);
  }
}
