@import "src/styles/variable";

.headerCardsIncoming {
  display: flex;
  justify-content: space-between;

  .author {
    display: flex;
    align-items: center;

    .avatar {
      margin-right: 16px;
      width: 40px;
      height: 40px;
    }

    .infoAuthor {
      .name {
        word-break: break-all;
        font-weight: 700;
        font-size: 18px;
        color: #1a1c18;
      }

      .visit {
        font-size: 14px;
        color: #1a1c18;
      }
      .triggetInfo {
        display: block;
        padding-bottom: 5px;
        font-size: 14px;
        display: block;
        color: #1a1c18;

        span {
          color: #2b6c00;
        }
      }
    }
  }
}
