@import "src/styles/variable";

.headerProfile {
 @include flex_direction_column_align_center_position();
 position: absolute;
 left: 0;
 top: 0;
 margin-top: 6px;
 padding: 0 16px 0 14px;
 width: 100%;

 .title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 65px;

  .titleNavigation {
   display: flex;
   align-items: center;
   height: 100%;
   column-gap: 28px;

   p {
    text-shadow: 1px 1px 1px #000;
    font-weight: 700;
    font-size: 14px;
   }
  }
  .titleSettings {
   display: flex;
   align-items: center;
   height: 100%;
  }

  a {
   img {
    width: 24px;
    height: 24px;
    top: 5px;
   }
  }
 }
}
