@import "src/styles/variable";

.headerStylesWrapper {
 display: flex;
 justify-content: space-between;
 align-items: center;
 width: 100%;
 color: #000;
 height: 64px;

 .titleNavigation {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  column-gap: 16px;

  p {
   font-weight: 700;
   font-size: 22px;
   color: var(#{--body-text-color-second-default});
  }
 }

 .titleSettings {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;

  .imgIcon svg {
   path {
    stroke: #fff9;
   }
  }

  .imgIconActiveFiler svg {
   path {
    stroke: rgb(255, 77, 0);
   }
  }
  .imgIconFill svg {
   path {
    fill: #fff9;
   }
  }
 }
}
