@import "src/styles/variable";

.headerCardsNews {
 display: flex;
 align-items: center;
 justify-content: space-between;
 padding-bottom: 12px;

 .author {
  display: flex;
  align-items: center;

  .avatar {
   margin-right: 16px;
   width: 40px;
   height: 40px;
  }

  .infoAuthor {
   .name {
    word-break: break-word;
    font-weight: 700;
    font-size: 18px;
    color: var(#{--body-text-color-second-default});
   }

   .visit {
    font-weight: 600;
    font-size: 14px;
    color: var(#{--green-color-text-default});
   }
  }
 }

 .theme {
  white-space: nowrap;
  background: linear-gradient(0deg, rgba(43, 108, 0, 0.08), rgba(43, 108, 0, 0.08)), #fdfdf5;
  border: 1px solid #66784e;
  color: var(#{--body-text-color-default});
  margin-right: 6px;

  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3), 0px 1px 3px 1px rgba(0, 0, 0, 0.15);
  border-radius: 30px;
  padding: 3px 8px;
  font-size: 14px;
 }

 .buttonAction {
 }
}
