$primary-button: #ff5a13;
$text-primary: #141a1e;
$text-secondary: #7b8794;

$secondary: #00aa93;
$orange: #ffded0;
$grey: #c8ccd1;
$background: #e5e5e5;
$bor_radius: 12px;

$error: #e95050;
$errorBackgroundOrange: #660000;
$white: #ffffff;
$green: #5b9232;
$main-error: #e95050;
$background-secondary: #fff2ec;
$gradient-secondary: linear-gradient(270.95deg, #ff7134 0%, #e02b2b 100%);
$text-text_primary: #242424;

$primary-scale: linear-gradient(270.95deg, #bcf373 0%, #467326 100%);
$backgroundFonts: linear-gradient(347.98deg, #ba0000 -54.41%, #ff864c 92.25%);
