$font_SFProTextRegular: "SFProTextRegular";
$font_Rubik: "Rubik";
$font_Raleway: "Raleway";
$font_Mulish_Bold: "Mulish_Bold";
$font_SF_UI_Text: "SF_UI_Text";
$font_Mulish_Regular: "Mulish_Regular", sans-serif;
$font_Gilroy_Bold: "Gilroy_Bold";
