@import "src/styles/variable";

.photo {
 @include flex_direction_column_position();
 margin-top: 16px;
 max-width: 100%;

 .gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;

  @media (max-width: $mediaMaxWidth320px) {
   gap: 2px;
  }

  .imgContainer {
   transition: all 0.3s;
   cursor: pointer;
   height: 72px;
   max-width: 27%;
   border-radius: 4px;
   overflow: hidden;

   &:hover {
    transform: scale(1.3);
   }

   @media (max-width: $mediaMaxWidth320px) {
    max-width: 28%;
   }

   img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.3s;
   }
  }
 }

 .modalOpen {
  @include flex_position();
  position: relative;
  width: 100%;
  height: 200px;

  .imgSlide {
   max-height: 200px;
   max-width: 100%;
  }

  .arrowLeft,
  .arrowRight {
   position: absolute;
   height: 60px;
   width: 30px;
   z-index: 2;

   path {
    stroke: #e3cece;
   }
  }

  .arrowLeft {
   left: 0;
  }

  .arrowRight {
   right: 0;
  }

  .closed {
   color: #bbaeae;
   font-size: 20px;
   font-weight: 600;
   top: 3px;
   right: 3px;
   position: absolute;
   z-index: 2;
  }
 }
}
