@import "src/styles/variable";

.respond {
 display: flex;
 margin: 16px 0;
 height: 40px;
 width: 100%;

 .pending {
  height: 40px;
  margin: 16px 0 16px;
 }

 .loading {
  width: 100%;
  text-align: center;
 }
}
