@import "src/styles/variable";

.wrapperInput {
 position: relative;
 width: 100%;
 // height: 100%;

 input {
  width: 100%;
  padding: 5px;
  background-color: inherit;
  border-radius: 10px;
  font-size: 16px;
  background-color: #f4f6f2;
  height: 100%;

  &::placeholder {
   padding-top: 5px;
   font-size: 16px;
  }

  &:hover {
   background-color: #d1d1d1;
  }

  &:focus,
  &:focus.error.errorBackgroundOrange {
   background-color: #ffffff;
   border: 1.5px solid #5b9232;
  }

  &:disabled {
   background-color: #f6f6f6;
   color: #d1d1d1;
  }
 }

 .error {
  border: 1px solid $error;
 }
 .error.errorBackgroundOrange {
  border: 1px solid $errorBackgroundOrange;
 }

 span {
  font-size: 12px;
  color: $error;
  position: absolute;
  bottom: -15px;
  left: 0;
 }

 span.errorBackgroundOrange {
  color: $errorBackgroundOrange;
 }
}
