@import "src/styles/variable";

//.workEducationeData {
// display: flex;
// align-items: center;
// width: 100%;
// padding: 13px 16px;
// border: 1px solid #c6d1b8;
// border-radius: 16px;

.itemImg {
 margin-right: 16px;
 height: 40px;
 width: 40px;

 img {
  width: 100%;
 }
}

.text {
 @include flex_direction_column_position();
 justify-content: space-between;
 height: 100%;
 color: #212121;
 font-size: 14px;

 p:first-child {
  font-size: 16px;
  font-weight: 600;
 }
}
//}

.textNotes {
 font-size: 16px;
 color: #43483e;
}
