@import "src/styles/variable";

.itemImg {
 margin-right: 16px;
 height: 40px;
 width: 40px;

 img {
  width: 100%;
 }
}

.text {
 @include flex_direction_column_position();
 justify-content: space-between;
 height: 100%;
 color: var(#{--title-color-default});
 font-size: 14px;

 p:first-child {
  font-size: 16px;
  font-weight: 600;
 }
}

.textNotes {
 font-size: 16px;
 color: var(#{--body-text-color-default});

 .tagPreFormatter {
  font-family: "Mulish-Medium", system, sans-serif;
  white-space: pre-wrap;
  word-break: break-word;
 }
}
