@import "src/styles/variable";

.timelineCards {
  gap: 10px;
  width: 100%;
  background: $white;
  box-shadow: 0px 2px 12px rgba(31, 77, 63, 0.1);
  border-radius: 8px; //color: #7B8794;
  padding: 16px 12px;
  font-size: 14px;
  color: $text-primary;

  .titleCard {
    .infoUser {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .personData {
        display: flex;
        align-items: center;

        h3 {
          padding-left: 8px;
        }

        .noName {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 24px;
          height: 24px;
          border-radius: 30px;
          background-color: #ff996d;
          font-weight: 600;
          color: $white;
        }
      }

      .time {
        color: $text-secondary;
        font-size: 12px;
        font-family: "SF_UI_Text";
      }
    }

    .photo {
      display: flex;
      align-items: center;
      gap: 8px;
      height: 72px;
      margin-top: 16px;

      .imgContainer {
        height: 100%;

        img {
          cursor: pointer;
          height: 100%;
          margin: 0 auto;

          &:hover {
            transform: scale(1.2);
          }
        }

        .activImg {
          transform: scale(2);
        }
      }

      .morePhoto {
        display: flex;
        justify-content: center;
        align-items: center;
        align-self: center;
        height: 100%;
        width: 30px;
        background: #F5F5F5;
        border-radius: 4px;
        color: $text-secondary;
        font-size: 12px;
        font-family: "SF_UI_Text";
      }
    }
  }

  .newsCard {
    margin-top: 16px;

    h3 {
      font-family: 'SF_UI_Text';
      font-weight: 700;
      font-size: 16px;
    }

    .skills_item {
      display: flex;
      flex-wrap: wrap;
      margin: 8px 0;

      .item {
        background-color: #e3f9f6;
        color: $secondary;
        border-radius: 20px;
        margin-right: 8px;
        padding: 4px 12px;
      }
    }
  }
}