@import "src/styles/variable";

.formVacancy {
 @include flex_direction_column_align_center_position();
 justify-content: flex-start;
 max-width: 650px;
 width: 100%;
 row-gap: 24px;
 padding: 24px 0;
}
