@import "src/styles/variable";

.mainScreen {
 @include flex_direction_column_position();
 width: 100%;
 max-width: 1024px;
 // height: 100%;

 overflow-x: hidden;
 flex: 1 0 100%; // для 100vh <PreLoader />
}
