@import "src/styles/variable";

.customStyleSvg {
 cursor: pointer;
 display: flex;
 align-items: center;
 justify-content: center;
 height: 40px;
 width: 40px;

 path {
  width: 13px;
  height: 13px;
  fill: #2b6c00;
 }
}

.mainSettings {
 width: 100%;
 height: 100%;
 height: 100vh;
 display: flex;
 flex-direction: column;

 .buttonVariant {
  flex: 1 0 100%;

  .buttonAction {
   display: flex;
   align-items: center;
   justify-content: space-between;
   height: 40px;

   .title {
    display: flex;

    .forDarkIcons {
     path {
      fill: aquamarine;
     }
    }

    p {
     margin-left: 16px;
     color: var(#{--body-text-color-second-default});
    }
   }
  }
 }

 .buttonAction1 {
  font-size: 20px;
  a {
   font-weight: 600;
   display: block;
   margin: 10px;
   color: rgb(69, 21, 243);
  }
 }

 .infoApps {
  display: flex;
  flex-direction: column;
  align-items: center;
  //position: absolute;
  position: fixed;
  bottom: 0;
  left: 0;
  font-size: 14px;
  font-weight: 600;
  padding-bottom: 15px;
  width: 100%;
  color: var(#{--green-color-text-default});

  a {
   color: var(#{--green-color-text-default});
   text-decoration: underline;
   text-align: center;
  }
  p {
   padding-top: 5px;
  }
 }
}
