@import "src/styles/variable";

.main {
 flex: 1 0 auto;
 margin: 0 16px 16px;
 padding-bottom: 80px;

 & > div:not(:first-child):not(.noBorder) {
  border-top: 1px solid #ebeceb;
 }

 h2 {
  font-weight: 700;
  font-size: 18px;
  color: var(#{--title-color-default});
 }

 .linkPublicationsMusician {
  display: flex;
  align-items: center;
  height: 64px;
  padding: 12px 0;

  a {
   display: flex;
   align-items: center;
   height: 40px;
   font-weight: 600;
   font-size: 14px;
   color: var(#{--green-color-text-default});
  }
 }

 .styleAbout {
  font-size: 16px;
  line-height: 24px;
  color: var(#{--body-text-color-default});

  .titleSpan {
   float: left;
   cursor: pointer;
   white-space: nowrap;
   padding-right: 8px;
   font-weight: 600;
   color: var(#{--body-text-color-second-default});
  }

  .underline {
   text-decoration: underline;
  }
  .siteColor {
   color: var(#{--green-color-text-default});
  }

  .tagPreFormatter {
   font-family: "Mulish-Medium", system, sans-serif;
   white-space: pre-wrap;
   word-break: break-word;
   display: inline;
  }
 }
}
