@import "src/styles/variable";

.formLayout {
 @include flex_direction_column_align_center_position();
 width: 100%;
 min-height: 100vh;
 background: $backgroundFonts;

 .formFieldsWrapper {
  background-color: var(#{--body-background-default});
  border-radius: 20px 20px 0px 0px;
  padding: 24px 16px 0;
  width: 100%;
  max-width: 600px;

  flex: 1 0 auto;
 }
}
