.styleInput {
 width: 100%;
 max-width: 650px;

 .wrapperBlockInput {
  height: 50px;

  input {
   height: 48px !important;
   padding: 18px 20px 17px;
  }
 }

 .textarea {
  min-height: 50px;
 }

 .notes {
  display: block;
  font-size: 12px;
  color: #828282;
 }

 .sizeInput {
  min-height: 48px;

  input {
   height: 48px !important;
  }

  textarea {
   min-height: 31px !important;
  }
 }

 .sizeInput.wrappPicker {
  height: 48px !important;
 }
}

.selectField {
 width: 100%;
 max-width: 650px;
 min-height: 48px;

 .wrapperBlockInput {
  height: 50px;

  input {
   height: 48px !important;
   padding: 18px 20px 17px;
  }
 }
}

.selectFieldCustomHeight {
 width: 100%;
}

.ageRange {
 display: flex;
 width: 100%;
 column-gap: 10px;
}
