@import "src/styles/variable";

.openMenu {
 transition: all 2s;
 display: flex;
 align-items: center;
 cursor: pointer;

 .optionItem {
  margin-right: 10px;

  path {
   fill: var(#{--title-color-default});
  }
 }

 .iconArrow {
  transform: rotate(180deg);
 }
}
