@import "src/styles/variable";

.firstToStepsLayout {
 position: relative;
 width: 100%;

 // height: 100%;
 overflow: hidden;

 display: flex;
 flex-direction: column;
 justify-content: space-between;
 align-items: center;
 flex: 1 0 auto;
 padding: 66px 16px 0;
 background-image: $backgroundFonts;

 @media (max-height: $mediaMaxHeight650px) {
  padding: 20px 16px 0;
 }

 &::before {
  position: absolute;
  pointer-events: none;
  left: 0;
  top: 0;
  content: "";
  height: 100%;
  width: 100%;
  background: url(../../../assets/icons/logoTriton.svg);
  background-repeat: no-repeat;
  background-size: 1096px 983px;
  background-position: -151px -21px;
  animation: trans 1s forwards;

  @keyframes trans {
   0% {
    position: absolute;
    transform: translate(100px, 100px);
   }
   100% {
    transform: translate(0);
   }
  }
 }
}
