.fieldItemCreateAccount {
}

.fieldItemCreateAccount {
  width: 100%;

  .titleSelect {
    margin-bottom: 6px;

    span {
      position: relative;
      font-weight: 700;

      img {
        position: absolute;
        right: -7px;
        top: 4px;
      }
    }
  }

  .custom_style_container_typeAccount_reg {
    font-weight: 700;
  }

  .custom_style_list_typeAccount_reg {
    font-weight: 700;
  }
}
