@import "src/styles/variable";

.modalNotFoundAccount {
  .modalTitle {
    text-align: center;

    h2 {
      font-size: 22px;
      color: green;
      font-weight: 700;
    }
    p {
      font-size: 18px;
      margin-top: 10px;
    }
  }

  .navigateModal {
    gap: 10px;
    margin: 30px 0 10px;
    display: flex;
    justify-content: space-evenly;

    @media screen and (max-width: $mediaMaxWidth320px) {
      flex-direction: column;
    }

    .btnWrapper {
      @include flex_horizont_position();
      height: 40px;
      width: 100%;

      a {
        width: 100%;

        button {
          height: 100%;
        }
      }
    }
  }
}
