@import "src/styles/variable";

.hiddenAnimationLeft {
 display: flex;
 flex-direction: column;
 row-gap: 8px;
 animation: loaderL 0.3s;

 @keyframes loaderL {
  0% {
   transform: translate(-300px, 0);
  }
  100% {
   transform: translate(0);
  }
 }
}

.hiddenAnimationRight {
 display: flex;
 flex-direction: column;
 row-gap: 8px;
 animation: loaderR 0.3s;

 @keyframes loaderR {
  0% {
   transform: translate(300px, 0);
  }
  100% {
   transform: translate(0);
  }
 }
}

.minHeight100 {
 min-height: 70vh;
}
