.fieldCustomAge {
 cursor: pointer;
 display: flex;
 align-items: center;
 border: 1px solid #c6d1b8 !important;
 border-radius: 8px;
 height: 100%;
 padding: 0 14px;
 color: #1a1c18;
 font-family: Mulish_Regular, sans-serif !important;
 font-size: 16px !important;
 font-weight: 600 !important;

 .customAgePlaceholder {
  color: #242424;
  font-family: Mulish_Regular, sans-serif !important;
  font-size: 16px !important;
  font-weight: 500 !important;
 }
}
