@import "src/styles/variable";

.formLogin {
 @include flex_direction_column_align_center_position();
 width: 100%;
 z-index: 2;
 height: 100%;

 .styleInput {
  width: 100%;
  margin-top: 20px;

  .title {
   font-family: "Gilroy_Bold", sans-serif;
   font-size: 24px;
   font-weight: 700;
   display: block;
   color: $white;
   margin-bottom: 0.5rem;
  }

  input {
   height: 50px;
   padding: 18px 20px 17px;
  }
 }

 .forgetPassword {
  align-self: flex-end;
  color: $white;
  font-size: 14px;
  font-weight: 500;
  margin-top: 12px;

  .forgotPasswordText {
   font-size: 14px;
   font-weight: 700;
  }
 }

 .styleBtn {
  @include flex_horizont_position();
  height: 52px;
  width: 100%;
  margin-top: 40px;

  @media (max-height: $mediaMaxHeight650px) {
   margin-top: 20px;
  }
  @media (max-height: $mediaMaxHeight560px) {
   margin-top: 10px;
  }
 }

 .see {
  position: absolute;
  top: 17px;
  right: 20px;
  cursor: pointer;
 }
}
