@import "src/styles/variable";

.recoveryPassword {
 @include flex_direction_column_align_center_position();
 width: 100%;
 z-index: 2;
 height: 100%;

 .styleInput {
  width: 100%;
  margin-top: 20px;

  .title {
   font-family: "Gilroy_Bold", sans-serif;
   font-size: 24px;
   font-weight: 700;
   display: block;
   color: $white;
   margin-bottom: 0.5rem;
  }

  input {
   height: 50px;
   padding: 18px 20px 17px;
  }

  .see {
   position: absolute;
   top: 17px;
   right: 20px;
   cursor: pointer;
  }
 }

 .styleBtn {
  @include flex_horizont_position();
  height: 52px;
  width: 100%;
  margin: 40px 0 20px;

  //.buttonAction {
  // display: block;
  // width: 100%;
  //}
 }
}
