@import "src/styles/variable";

.bodyAds {
 display: flex;
 flex-direction: column;
 padding: 0 16px;
 width: 100%;

 .flexPositions {
  display: flex;

  .avatarBlock {
   margin-right: 15px;
  }

  .city {
   font-size: 14px;

   h3 {
    font-weight: 600;
    color: var(#{--body-text-color-second-default});
   }

   p {
    font-weight: 500;
    color: var(#{--body-text-color-default});
   }
  }
 }
 .skills {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 0 16px;
  width: 100%;
 }

 .about {
  font-size: 14px;
  line-height: 20px;
  color: var(#{--body-text-color-default});

  .tagPreFormatter {
   font-family: "Mulish-Medium", system, sans-serif;
   white-space: pre-wrap;
   word-break: break-word;
   display: inline;
  }
 }

 .publicationDate {
  padding: 8px 0 16px;
  font-size: 12px;
  color: var(#{--body-text-color-second-default});
 }
}
