@import "src/styles/variable";

.bodyAds {
 display: flex;
 flex-direction: column;
 padding: 0 16px;

 width: 100%;
 // @media (max-width: $mediaMaxWidth350px) {
 //  padding: 0 5px;
 // }

 .flexPositions {
  display: flex;

  .avatarBlock {
   margin-right: 15px;
  }

  .city {
   font-size: 14px;

   h3 {
    font-weight: 600;
    color: #1a1c18;
   }

   p {
    font-weight: 500;
    color: #43483e;
   }
  }
 }
 .skills {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 0 16px;
  width: 100%;
 }

 .about {
  font-size: 14px;
  line-height: 20px;
  color: #43483e;
 }

 .publicationDate {
  padding: 8px 0 16px;
  font-size: 12px;
  color: #43483e;
 }
}
