@import "src/styles/variable";

.skills {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 0 24px;

  .profileData {
    h2 {
      font-weight: 700;
      font-size: 20px;
      color: #212121;
      margin-bottom: 20px;
    }
  }
}
