@import "src/styles/variable";

.btnBack {
 @include flex_position();
 cursor: pointer;
 height: 30px;
 width: 30px;

 .imgIcon svg {
  path {
   fill: #c7cac4;
   // stroke: rgba(255, 255, 255, 0.6);
  }
 }
}
