@import "src/styles/variable";

.popUpNavigateGradient {
 position: relative;
 position: fixed;
 bottom: 0;
 height: 50px;
 display: flex;
 width: 100%;
 max-width: 1024px;
 z-index: 100;

 .radialGradientFontsWrapper {
  height: 50px;
  display: block;

  svg {
   height: 50px;
  }

  .duttonAdd {
   position: absolute;
   display: flex;
   cursor: pointer;
   left: 50%;
   transform: translateX(-50%);
   top: -30px;
   width: 60px;
   height: 60px;
   // background: linear-gradient(270.95deg, #ff7134 0%, #e02b2b 100%);
   border-radius: 40px;

   .plas {
    @include flex_position();
    position: relative;
    border-radius: 5px;
    margin: auto;
    width: 20px;
    height: 20px;
    background-color: $white;
    border: 2px solid #ffffff;

    &:before,
    &:after {
     position: absolute;
     content: "";
     display: block;
     background: linear-gradient(270.95deg, #ff7134 0%, #e02b2b 100%);
     width: 12px;
     height: 2px;
    }
    &:after {
     transform: rotate(90deg);
    }
   }

   .plasDarkMode {
    background-color: #5f1500;
    border: 2px solid #5f1500;
    &:before,
    &:after {
     background: linear-gradient(270.95deg, rgba(255, 113, 52, 0.8) 0%, rgba(224, 43, 43, 0.8) 100%),
      linear-gradient(0deg, #ffffff, #ffffff);
    }
   }
  }

  .lightThemeCenterButton {
   background: linear-gradient(270.95deg, #ff7134 0%, #e02b2b 100%);
  }
  .darkThemeCenterButton {
   background: linear-gradient(270.95deg, rgba(255, 113, 52, 0.8) 0%, rgba(224, 43, 43, 0.8) 100%),
    linear-gradient(0deg, #ffffff, #ffffff);
  }
 }

 .tapLeftBlock,
 .tapRightBlock {
  position: relative;
  @include flex_position();
  flex: 1 0 30%;

  &:before {
   z-index: -1;
   position: absolute;
   display: block;
   left: -2px;
   top: 4px;
   content: "";
   width: 3px;
   height: 100%;
   background-color: #8bc34a;
  }

  a {
   @include flex_position();
   width: 50%;
   height: 100%;
   cursor: pointer;

   path {
    stroke: #ffffff;
   }
  }
 }

 .tapLeftBlock {
  border-top-left-radius: 10px;
 }

 .lightBacgroundL {
  background: linear-gradient(94deg, rgba(66, 110, 35, 1) 0%, rgba(115, 163, 67, 1) 100%);
  .specifiedFill {
   stroke: rgb(255, 255, 255);
   fill: #ffffff;
  }
 }
 .darkBacgroundL {
  background: linear-gradient(94deg, rgb(122 191 33) 0%, rgb(134 211 58) 100%);
  .specifiedFill {
   stroke: #ffffff;
   fill: #fdfffc;
  }
 }

 .tapRightBlock {
  border-top-right-radius: 10px;
 }

 .lightBacgroundR {
  background: linear-gradient(93deg, #8fc155 0%, #bef574 100%);
 }
 .darkBacgroundR {
  background: linear-gradient(93deg, rgb(135 214 70) 0%, rgb(137 219 92) 100%);
 }

 .active {
  z-index: 2;
  position: relative;
  overflow: hidden;
  outline-width: 0;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;

  .icon {
   stroke: rgb(255, 115, 0);
   fill: rgb(255, 115, 0);

   path {
    stroke: rgb(255, 115, 0);
   }
  }

  .iconDark {
   stroke: #133800;
   fill: #133800;
   path {
    stroke: #133800;
   }
  }

  &:after {
   content: "";
   z-index: -1;
   position: absolute;
   width: 0;
   height: 0;
   opacity: 0;
   background: #bdf5745d;
   border-radius: 50%;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
   animation: ripple 0.6s;

   @keyframes ripple {
    100% {
     width: 150%;
     height: 150%;
     opacity: 1;
    }
   }
  }
 }
}
