@import "src/styles/variable";

.headerWrapper {
 width: 100%;
 color: $white;
 min-height: 175px;

 .positionImg {
  @include flex_horizont_position();
  position: relative;
  height: 130px;
  width: 100%;

  .backgroundImg {
   @include flex_horizont_position();
   position: absolute;
   width: 100%;
   height: 100%;
   overflow: hidden;

   .reliativ130 {
    top: -4px;
    position: absolute;
    width: 130%;
    height: 134px;
    border-radius: 0 0 50% 50%;
    background: linear-gradient(270.95deg, #ff7134 0%, #e02b2b 100%);
    //filter: blur(3px);
   }

   .reliativ130.backgroundActive {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 78%;
   }
  }
 }
}
